body {
	background-color:#707070
}

h1 {
	color:Black;
    font-family:courier new;
	text-align:center;
}
h2 {
	font-family:courier new;
	font-weight:normal;
}

p {
  color:Black;
  font-family:courier new;
  font-size:x-large;
}

div {
  width: 1000px;
  margin: auto;
  border: 1px solid #707070;
}

a:link {
  text-decoration: none;
  color: Black;
}

a:visited {
  text-decoration: none;
  color: Black;
}

a:hover {
  text-decoration: none;	
  color: red;
}

a:active {
  text-decoration: none;
  color: Black;
}

img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 50px 20px 100px;
}

container {
  position: relative;
  width: 50%;
}

image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

container:hover image {
  opacity: 0.3;
}

container:hover middle {
  opacity: 1;
}

text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  font-family: courier new;
}